# PANDAS
## Práctica de la librería Pandas

En este notebook, se desarrollarán una serie de tareas utilizando la librería Pandas (el "Excel" de Python).

Se proponen y documentan posibles formas de resolver los ejercicios, pero pueden existir varias formas de lograr los mismos resultados.

Siempre es una buena idea verificar la [Documentación Oficial de Pandas](https://pandas.pydata.org/pandas-docs/stable/), donde es posible encontrar todo tipo de información referida a esta librería. Y si te quedas trabado, busca en Google "como hacer [algo] con Pandas". Hay enormes probabilidades de que esa pregunta ya haya sido respondida!

In [1]:
# Importamos Pandas

import pandas as pd
from openpyxl.workbook import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

In [2]:
# Creamos una serie de números y hallamos su media
numeros = pd.Series([5, 2, 53, 21, 521, 6, 343, 12])
numeros

0      5
1      2
2     53
3     21
4    521
5      6
6    343
7     12
dtype: int64

In [3]:
# Hallamos la suma de dichos números
numeros.sum(), numeros.mean()

(np.int64(963), np.float64(120.375))

In [4]:
# Creamos una SERIE de tres colores diferentes
colores = pd.Series(['Rojo', 'Amarillo', 'Negro'])
colores

0        Rojo
1    Amarillo
2       Negro
dtype: object

In [5]:
# Creamos una serie con marcas de autos, y la visualizamos
tipos_autos = pd.Series(['Mercedes', 'Volkswagen', 'Audi'])
tipos_autos

0      Mercedes
1    Volkswagen
2          Audi
dtype: object

In [6]:
# Combinamos las series de tipos de autos y colores en un DATAFRAME
autos = pd.DataFrame({'Marcas de Auto' : tipos_autos, 'Colores' : colores})
autos

  Marcas de Auto   Colores
0       Mercedes      Rojo
1     Volkswagen  Amarillo
2           Audi     Negro

In [7]:
# Working with Pandas Dataframes

wb = Workbook()
ws = wb.active

for row in dataframe_to_rows(autos, index=True, header=True):
    ws.append(row)

# print(ws[1]) (<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>, <Cell 'Sheet'.C1>)

for cell in ws['A'] + ws[1]:
    cell.style = 'Pandas'

wb.save("pandas_openpyxl.xlsx")

In [8]:
# Converting a worksheet to a Dataframe

file_name = 'pandas_openpyxl.xlsx'
df = pd.read_excel(file_name)
df

   Unnamed: 0 Marcas de Auto   Colores
0         NaN            NaN       NaN
1         0.0       Mercedes      Rojo
2         1.0     Volkswagen  Amarillo
3         2.0           Audi     Negro

In [9]:
new_file_name = "pandas_to_excel.xlsx"

autos.to_excel(new_file_name)