# PANDAS
## Práctica de la librería Pandas

En este notebook, se desarrollarán una serie de tareas utilizando la librería Pandas (el "Excel" de Python).

Se proponen y documentan posibles formas de resolver los ejercicios, pero pueden existir varias formas de lograr los mismos resultados.

Siempre es una buena idea verificar la [Documentación Oficial de Pandas](https://pandas.pydata.org/pandas-docs/stable/), donde es posible encontrar todo tipo de información referida a esta librería. Y si te quedas trabado, busca en Google "como hacer [algo] con Pandas". Hay enormes probabilidades de que esa pregunta ya haya sido respondida!

In [1]:
# Importamos Pandas

import pandas as pd
from openpyxl.workbook import Workbook
from openpyxl.utils.dataframe import dataframe_to_rows

In [6]:
# Creamos una serie de números y hallamos su media
numeros = pd.Series([435, 2, 53, 21, 521, 6, 343, 12], name="Numeros")
numeros

0    435
1      2
2     53
3     21
4    521
5      6
6    343
7     12
Name: Numeros, dtype: int64

In [7]:
# Hallamos la suma de dichos números
numeros.sum(), numeros.mean()

(1393, 174.125)

In [9]:
# Creamos una SERIE de tres colores diferentes
colores = pd.Series(['Rojo', 'Amarillo', 'Negro'], name="Colores")
colores

0        Rojo
1    Amarillo
2       Negro
Name: Colores, dtype: object

In [15]:
# Creamos una serie con marcas de autos, y la visualizamos
tipos_autos = pd.Series(['Mercedes', 'Volkswagen', 'Audi'], name="Autos")
tipos_autos

0      Mercedes
1    Volkswagen
2          Audi
Name: Autos, dtype: object

In [16]:
# Combinamos las series de tipos de autos y colores en un {DATAFRAME}
autos = pd.DataFrame({'Marcas de Auto' : tipos_autos, 'Colores' : colores})
autos

  Marcas de Auto   Colores
0       Mercedes      Rojo
1     Volkswagen  Amarillo
2           Audi     Negro

In [22]:
# Working with Pandas Dataframes ' Save Dataframes in excel

wb = Workbook()
ws = wb.active

for row in dataframe_to_rows(autos, index=True, header=True):
    ws.append(row)

# print(ws[1]) (<Cell 'Sheet'.A1>, <Cell 'Sheet'.B1>, <Cell 'Sheet'.C1>)

for cell in ws['A'] + ws[1]:
    print(cell)
    cell.style = 'Pandas'

wb.save("pandas_openpyxl.xlsx")
wb.close()

<Cell 'Sheet'.A1>
<Cell 'Sheet'.A2>
<Cell 'Sheet'.A3>
<Cell 'Sheet'.A4>
<Cell 'Sheet'.A5>
<Cell 'Sheet'.A1>
<Cell 'Sheet'.B1>
<Cell 'Sheet'.C1>

In [23]:
# Converting a worksheet to a Dataframe

file_name = 'pandas_openpyxl.xlsx'
df = pd.read_excel(file_name)
df

   Unnamed: 0 Marcas de Auto   Colores
0         NaN            NaN       NaN
1         0.0       Mercedes      Rojo
2         1.0     Volkswagen  Amarillo
3         2.0           Audi     Negro

In [10]:
new_file_name = "pandas_to_excel.xlsx"

autos.to_excel(new_file_name)